.box{
	background: rgb(128, 124, 124);
	border-radius: 3px;
    padding: 1em;
	margin: 8px;   
	text-align: center;
	min-height: 150px;
}
.container{
	margin: 0 auto;
	max-width: 700px;
}

.col-d .box{
	min-height: 75px;
}
.a{
	min-height: 75px;
}
.b{
	min-height: 40px;
	padding: 0;
}
.c{
	min-height: 266px;
}
.col-6 .q1{
	min-height: 100px;
}
.q2{
	min-height: 150px;
}
.sb{
	min-height: 286px;
}
.nb{
	min-height: 90px;
	margin-right: 20px;
}
.hsb{
	min-height: 366px;
}
.rhsb{
	float: right;
}
.rhb{
	min-height: 150px;
	float: right;
}
.tb{
	min-height: 100px;
}
.ft{
	min-height: 30px;
	padding: 0;
}